@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family:'Work Sans';
}

/*
---------------
Header - Banner
---------------
*/
#banner {
    background-image: url('../images/banner/banner.png');
    display:flex;
    justify-content: flex-end;
    background-size: 100% 100%;
}

.banner-content {
    width: 30%;
    margin:13%;
    text-align: right;
}


/*
---------------
Failure- Blog
---------------
*/
.info-blog {
    max-width:1072px;
    margin:131px auto;
}

.failure-blog {
    align-items:center;
    justify-content: space-between;
}

.blog-item {
    width:35%;
    box-sizing: border-box;
    
}

.blog-img {
    width:55%;
    box-sizing: border-box;
}

.blog-img img {
    max-width: 100%;
}
/*
---------------
Plan - Section
---------------
*/

.flex-cards {
    width:25%;
    box-sizing: border-box;
}

/*
---------------
Gradient Card
---------------
*/

.gradient-card-container{
    border-radius: 8px;
    background-image: url('../images/watch.png'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gradient-card-content {
    padding:59px 64px;
    background:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
}

footer {
    background-color: black;
    padding:130px 10vw;
    justify-content: space-between;
}

.footer-card {
    width:45%;
    box-sizing: border-box;
}

.footer-title {
    margin:0px;
}

.input-footer {
    padding:16px;
    width:50%;
    border:1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background-color: black;
}

@media screen and (max-width:576px) {
    .flex-cards {
        width:50%;
    }

    .blog-item {
        width:100%;
    }

    .blog-img {
        width:100%;
    }
    .footer-card {
        width:100%;
    }


}