/*
-------------
Global styles
-------------
*/
.button-primary {
    padding:15px 1.25vw;
    border:none;
    background-color: #ffffff;
    border-radius: 5px;
    color:rgba(0, 95, 172, 1);
    font-size: 1.25rem;
}

.button-secondary {
    padding:15px 1.25vw;
    border:none;
    background-color: rgba(0, 95, 172, 1);
    border-radius: 5px;
    color:#ffffff;
    font-size: 1.25rem;
}
.dark-text {
    color:rgba(21, 20, 20, 1);
}

.md-dark-txt {
    color: #444343;
}
.secondary-text-color {
    color:rgba(115, 114, 114, 1);
}

.white-text-color {
    color: #FFFFFF;
}

.small-txt {
    font-size: 1.25rem;
    font-weight: 400;
}

.medium-txt {
    font-size:1.5rem;
}

.header-1 {
    font-size: 4vw;
    font-weight: 700;
}

.header-2 {
    font-size: 2.5rem;
    font-weight: 700;
} 

.header-3 {
    font-weight: 700;
    font-size: 1.875rem;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.icon-green {
    color:rgba(22, 216, 135, 1);
}

.txt-center {
    text-align: center;
}

.margin-16 {
    margin:16px 0;
}

.mt-20 {
    margin:20px 0px;
}