/*
-------------
Global styles
-------------
*/
.button-primary {
    padding:15px 20px;
    border:none;
    background-color: #ffffff;
    border-radius: 5px;
    color:rgba(0, 95, 172, 1);
    font-size: 20px;
}

.dark-text-color {
    color:rgba(21, 20, 20, 1);
}

.secondary-text-color {
    color:rgba(115, 114, 114, 1);
}

.white-text-color {
    color: #FFFFFF;
}

.small-txt {
    font-size: 14px;
    font-weight: 400;
}

.medium-tx {
    font-size:25px;
}

.header-1 {
    font-size: 55px;
    font-weight: 700;
}

.header-2 {
    font-size: 40px;
    
}   